/* .nav-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25vw;
} */

/* .nav-bar {
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-bar li {
    list-style: none;
}

.nav-bar li a {
    text-decoration: none;
    color: red;
} */